.container {
	padding-right: 20px;

	// Not sure why we need this.
	* {
		box-sizing: border-box;
	}

	@media screen and (max-width: 782px) {
		padding-right: 10px;
	}
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
}

.card.card {
	padding: 20px;
}
