.container {
	padding-right: 20px;

	// Not sure why we need this.
	* {
		box-sizing: border-box;
	}
}

.wrapper {
	display: flex;
	gap: 20px;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
}
