.table {
	text-align: left;
	border-collapse: collapse;

	thead {
		background-color: rgba(94.1%, 94.1%, 94.5%, 0.5);
		padding: 10px;
	}

	tr {
		border-bottom: 1px solid #f0f0f0;
	}

	tbody tr:nth-child(even) {
		background-color: rgba(94.1%, 94.1%, 94.5%, 0.3);
	}

	th {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 500;
		color: #1e1e1e;
	}

	th,
	td {
		padding: 12px 16px;
	}
}

:global(.components-modal__content) .table th,
:global(.components-modal__content) .table td {
	vertical-align: top;
}
